body {
    background: rgb(6, 95, 236);
    font: normal Arial 15pt;

}
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px black;


}

div{
    text-align: center;
    color: rgb(255, 0, 0);
    padding: 8px;
}

header {
    text-align: center;
    color: white;
}



footer {
    text-align: center;
    color: white;
}

